.containerCountEnergy {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;

  .imageEnergy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./energy.svg");
    background-size: contain;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    margin-top: 0.6rem;
  }
}

@media (min-width: 649px) {
  .containerCountEnergy {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .containerCountEnergy {
    margin-top: 3.5rem;
  }
}
