.containerCountCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;

  .imageCard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url("./card.png");
    background-size: cover;
    height: 4rem;
    width: 3rem;
    margin-top: 0.6rem;
  }
}
