.switchTheme,
.switchThemeWhite {
  position: absolute !important;
  right: 1rem !important;
  top: 1rem !important;
  height: 0;
}

.sunIcon {
  position: absolute !important;
  right: 1.3rem !important;
  top: 1.4rem !important;
  z-index: 1;
}
.moonIcon {
  position: absolute !important;
  right: 2.9rem !important;
  top: 1.4rem !important;
}

@media (max-width: 649px) {
  .switchTheme,
  .switchThemeWhite {
    right: 1.5rem !important;
    top: 6.4rem !important;
  }

  .sunIcon {
    right: 1.8rem !important;
    top: 6.8rem !important;
    z-index: 1;
  }
  .moonIcon {
    right: 3.3rem !important;
    top: 6.8rem !important;
  }
}
