@import "./styles/variables.scss";

.container_main {
  @include stylesMain;
  background-color: $dark;
}

.container_main_white {
  @include stylesMain;
  background-image: url("./assets/bgaxie.png");
  background-size: cover;
  opacity: 0.9;
}

.container_sideleft {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}

@media (max-width: 649px) {
  .container_main,
  .container_main_white {
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media (min-width: 649px) {
  .container_sideleft {
    margin: 3.6rem 0 0 1rem;
  }
}
