@import "./styles/variables.scss";

.container_main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  overflow-y: auto;
  height: 100vh;
  width: 100%;
  background-color: $dark;

  .container_sideleft {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 649px) {
  .container_main {
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media (min-width: 649px) {
  .container_sideleft {
    margin: 3.6rem 0 0 1rem;
  }
}
